.xtgg{
				width: 100%;
				margin-bottom: 1.3rem;
			}
			.xtgg li{
				width: 100%;
				background-color: #fff;
				color: #696969;
				margin-bottom: 0.1rem;
				position: relative;

			}
			.xtgg li p{
				height:0.6rem ;
				border-bottom: 1px solid lightgray;
				line-height: 0.6rem;
				display: flex;
				justify-content: space-between;
				padding:0 5% ;


				}
		    .xtgg li p span:nth-child(1){
		    	font-size: 0.3rem;
		    }
			.xtgg li div{
		    	font-size: 0.28rem;
				padding:0.2rem 5% ;

			}
			.xtgg li a{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 2.2rem;
			}
