* {
	margin: 0;
	padding: 0;
}

body,html {
	font-size: 10px;
	width: 100%;
	margin: auto;
	overflow: scroll;
	background: #000000;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-input-placeholder {
	color: rgba(239,209,113,0.7);
	
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: middle;
}
.hiddenp {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*头部*/
.header {
	height: 1rem;
	width: 100%;
	line-height: 1rem;
	display: flex;
	justify-content: space-around;
	background-color: #efd171;
	
}

.center {
	font-size: 0.36rem;
}

.left,
.right {
	font-size: 0.32rem;
	position: absolute;
}

.left {
	left: 5%;
}
.left img{
	width: 0.27rem;
	}

.right {
	right: 5%;
}
.right img{
	width: 0.4rem;
}


/*底部*/
		
			.footer {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1rem;
				background: #1b1a1f;
				color: #fff;
				
			}
			
			.footer ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			
			.footer ul li {
				width: 100%;

				padding-top: 0.1rem;
			}
			.footer ul li a{
				width: 100%;
				display: inline-block;
				text-align: center;
				
			}
			.footer ul li a img {
				/*width: 0.5rem;*/
				height: 0.45rem;
			}
			
			.footer ul li a p {
				color: #6b5e34;
			}
			
			.footCor {
				color: #efd171 !important;
			}

input{
	-webkit-appearance: none;
	outline: none;
}
