{include file="public/_meta" /}
<title></title>
<style>
		input{
			width:30px;
			border:none;
		}
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>套餐管理 <span class="c-gray en">&gt;</span> 套餐列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="create(0,'taocan_add','添加套餐')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 套餐</a>
		</span> 
		<!-- <span class="r">共有数据：<strong></strong> 条</span> </div> -->
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th>ID</th>
				<th>产品名称1</th>
				<th>产品主图1</th>
				<th>产品名称2</th>
				<th>产品主图2</th>
				<th>产品名称3</th>
				<th>产品主图3</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.tc_watch}</td>
					<td><img src="{$vo.watch_image|default = ''}" style="width:60px;height:60px" alt=""></td>
					<td>{$vo.tc_phone}</td>
					<td><img src="{$vo.phone_image|default = ''}" style="width:60px;height:60px" alt=""></td>
					<td>{$vo.tc_computer}</td>
					<td><img src="{$vo.computer_image|default = ''}" style="width:60px;height:60px" alt=""></td>
					<td>{$vo.creat_time}</td>
					<td class="td-manage">
						<a title="编辑" href="javascript:;" onclick="create({$vo.id},'taocan_edit','修改商品')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" onclick="del({$vo.id},'Product')" title="删除"><i class="Hui-iconfont">&#xe706;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="pages" style="margin:20px;float: right; "></div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	$('select[name="pd_status"]').val({$Request.get.pd_status});
	$('select[name="orderby"]').val({$Request.get.orderby});
	$('select[name="ca_id"]').val({$Request.get.ca_id});
function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}
function change(id,value,key){
	layer.confirm('确定要更改么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('change')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	            	console.log(data);
	             	if(data.code == 2){
	             		layer.msg('超过最大限制');
	             	}else if(data.code == 1){
	             		location.href = '';
	             	}
	            }
	        });
	    });
}

function del(id,key){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('taocan_delete')}",
            data: {id:id,key:key},
            success: function(data) {
                layer.msg(data.msg);
                if(data.code==1){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        });
    });
}
</script>
</body>
</html>