{include file="public/_meta" /}
<link href="/static/admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<style>

.lbwxq_mImg {
    width: 110px;
    height: 110px;
    border: 1px solid #eee;
    position: relative;
}

.lbwxq_mImg img {
    width: 110px;
    height: 110px;
}




/*大图*/

.lbwxq_lImg {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 540px;
    top: 25px;
    display: none;
    overflow: hidden;
}

.lbwxq_lImg img {
    width: 1000px;
    height: 1000px;
}


.pic {
    display: inline-block;
}

.pic img {
    width: 110px;
    height: 110px;
}
body,html{
position: relative;
}
.big{
   position: absolute;
    right: 25%;
    top: 120px;
    width: 300px;
    height: 300px;
}
.big img{
    width: 100%;
    height: 100%;
}
</style>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>套餐管理 <span class="c-gray en">&gt;</span> 添加套餐 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <input type="hidden" name="__token__" value="{$Request.token}" />

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称1：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="商品名称" name="tc_watch" style="width:20%">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品主图1：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="pic">
                        <img src="/uploads/shangchuan.png" alt="请上传" class="logo" >
                        <input type="file" name="file" onchange="aaa($(this))" class="input-text" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;">
                    </div>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称2：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="商品名称" name="tc_phone" style="width:20%">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品主图2：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="pic">
                        <img src="/uploads/shangchuan.png" alt="请上传" class="logo2" >
                        <input type="file" name="file" onchange="bbb($(this))" class="input-text" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;">
                    </div>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称3：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="商品名称" name="tc_computer" style="width:20%">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品主图3：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="pic">
                        <img src="/uploads/shangchuan.png" alt="请上传" class="logo3" >
                        <input type="file" name="file" onchange="eee($(this))" class="input-text" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;">
                    </div>
                </div>
            </div>


            <div class="row cl">
            </div>
            <div style="display:none" class="ttt">
                <input type="text" name="watch_image" class="ppp" value="">
                <input type="text" name="phone_image" class="ppp" value="">
                <input type="text" name="computer_image" class="ppp" value="">
                <!-- <input type="text" name="pd_id" value=""> -->
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onclick="return add();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认提交</button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="big" > -->
        <!-- <img src="/static/admin/img/add0.png" /> -->
    <!-- </div> -->
    {include file="public/_footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
        function aaa(dada) {
        var data = new FormData();
        data.append('file', dada[0].files[0]);
        var index = layer.load(1, { shade: false }); //0代表加载的风格，支持0-2
        $.ajax({
            url: '{:url("product/upload")}',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                layer.msg(data.msg);
                if (data.code) {
                    $('.logo').attr('src',data.data);
                    $('input[name="watch_image"]').val(data.data);  //添加上传的图片到隐藏域
                }
                layer.close(index);
            },
            error: function() {
                layer.close(index);
                layer.msg('上传出错');
            }
        });
    }
    function bbb(dada) {
        var data = new FormData();
        data.append('file', dada[0].files[0]);
        var index = layer.load(1, { shade: false }); //0代表加载的风格，支持0-2
        $.ajax({
            url: '{:url("product/upload")}',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                layer.msg(data.msg);
                if (data.code) {
                    $('.logo2').attr('src',data.data);
                    $('input[name="phone_image"]').val(data.data);  //添加上传的图片到隐藏域
                }
                layer.close(index);
            },
            error: function() {
                layer.close(index);
                layer.msg('上传出错');
            }
        });
    }
function eee(dada) {
        var data = new FormData();
        data.append('file', dada[0].files[0]);
        var index = layer.load(1, { shade: false }); //0代表加载的风格，支持0-2
        $.ajax({
            url: '{:url("product/upload")}',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                layer.msg(data.msg);
                if (data.code) {
                    $('.logo3').attr('src',data.data);
                    $('input[name="computer_image"]').val(data.data);  //添加上传的图片到隐藏域
                }
                layer.close(index);
            },
            error: function() {
                layer.close(index);
                layer.msg('上传出错');
            }
        });
    }

       function add() {
        $.post('{:url("taocan_add")}', $('#form-article-add').serialize()).success(function(data) {
            layer.msg(data.msg);
            if (data.code) {
                setTimeout(function() {
                    location.href = '';
                }, 1000);
            }
        });
        return false;
    }
    </script>
</body>

</html>