{include file="public/_meta" /}
<title></title>
<link rel="stylesheet" type="text/css" href="/static/viewer.min.css"/>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>财务管理 <span class="c-gray en">&gt;</span> 财富记录<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form class="Huiform" method="get" action="">
            </span>
                <input type="text" class="input-text" style="width:150px" placeholder="昵称/关键字" id="" name="keywords" value="{$Request.get.keywords|default=''}">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r"><strong></strong> </span> </div>
        <div class="mt-20">
            <table class="table table-border  table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>id</th>
                        <th>昵称</th>
                        <th>手机号</th>

                        <th>提现人</th>
                        <th>金额</th>

                        <th>类型</th>
                        <th>支付凭证</th>
                        <th>申请时间</th>
                        <!-- <th>到账类型</th> -->
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.us_nickname}</td>
                        <td>{$vo.us_tel}</td>

                        <td>{$vo.us_name}</td>
                        <td>{$vo.tx_sum}</td>

                        <td>{$vo.tx_type_text}</td>
                        <td><img class='product-thumb image' src="{$vo.tx_image}" style="width:60px;height:60px"></td>
                        <td>{$vo.tx_time}</td>
                        <!-- <td>即刻到账</td> -->
                        <td class="td-manage">
                            <a style="text-decoration:none" onclick="change({$vo.id},1,'tx_status')" title="审核通过"><i class="Hui-iconfont">&#xe634;</i></a>
                            &nbsp;
                            &nbsp;
                            <a style="text-decoration:none" onclick="change({$vo.id},3,'tx_status')" title="驳回"><i class="Hui-iconfont">&#xe66c;</i></a>
                        </td>
                            
                    </tr>
                    {/volist}
                </tbody>
            </table>
        <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
        </div>
            <div class="cd-popupaa">
                <div class="cd-popup-containeraa">
                    <!-- <img src="/mobile/img/close1.png" class="cd-popup-closeaa" /> -->
                   <div class="cd-popup_newscon">

                   </div>
                </div>
            </div>



        {include file="public/_footer" /}
        <script src="/static/viewer.min.js"></script>
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript">
            //图片放大
$('.image').viewer();


        $('select[name="wa_type"]').val({$Request.get.wa_type});

        function create(id, url, key) {
            var url = "{:url('" + url + "')}?id=" + id;
            creatIframe(url, key);
        }

        function change(id, value, key) {
            layer.confirm('确定要执行操作？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('changee')}",
                    data: { id: id, value: value, key: key },
                    success: function(data) {
                        layer.msg(data.msg, {
                          icon: 1,
                          time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                          location.href = ''
                        });
                    }
                });
            });
        }

        function del(id, key) {
            layer.confirm('确定要删除么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('Every/allDel')}",
                    data: { id: id, key, key },
                    success: function(data) {
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            setTimeout(function() {
                                location.href = data.url;
                            }, 1000);
                        }
                    }
                });
            });
        }
        </script>
</body>

</html>