			* {
				box-sizing: border-box;
			}

			body {
				width: 100%;
				/*min-width: 800px;*/
				width: expression_r(document.body.clientWidth < 1200 ? "1000px": "auto");
				font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				color: #4f6b72;
			}

			a {
				color: #c75f3e;
			}
			caption {
				padding: 0 0 5px 0;
				font: 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				text-align: center;
			}

			th {
				font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				color: #4f6b72;
				border-right: 1px solid #C1DAD7;
				border-bottom: 1px solid #C1DAD7;
				border-top: 1px solid #C1DAD7;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-align: left;
				padding: 6px 6px 6px 12px;
				background: #CAE8EA ;
			}
			td {
				border-right: 1px solid #C1DAD7;
				border-bottom: 1px solid #C1DAD7;
				background: #fff;
				padding: 6px 6px 6px 12px;
				color: #4f6b72;
				text-align: center;
			}

			table {
				margin: 0 auto;
			}

			.line1 {
				font-size: 0;
				width: 100%;
				padding-left: 27.5%;
			}

			.lineimg1 {
				width: 15%;
				height: 30px;
			}

			.main2 {
				width: 100%;
			}

			.main2 .main21 {
				width: 50%;
				float: left;
				padding-left: 23%;
			}

			.main2 table{
				margin: 0;
			}

			.main2 .main22 {
				float: left;
				width: 50%;
				padding-left: 17.5%;
			}

			.zi {
				width: 100%;
			}

			.zi1 {
				width: 50%;
				float: left;
			}

			.zi2 {
				width: 50%;
				float: left;
			}

			.lineimg2 {
				width: 30%;
				height: 30px;
			}

			.line2 {
				padding-left: 35%;
				font-size: 0;
			}

			.line2_0 {
				font-size: 0;
				padding-left: 18.5%;
			}