{include file="public/_meta" /}
<title>我分享的人</title>
</head>
<body class="pos-r">
	<div class="page-container">
		<div class="row cl">
			<div class="col-xs-11 col-sm-12 ">
				<table id="tball" class="table table-border radius">
					<thead id="" class="text-c">
						<tr>
							<th>人数</th>
							<th>ID</th>
							<th>姓名</th>
							<th>账号/手机号</th>
							<th>现金积分</th>
							<th>注册积分</th>
						</tr>
					</thead>
					<tbody id="tbMain">
						{volist name="list" id="vo"}
							<tr class="text-c">
								<td>{$key+1}</td>
								<td>{$vo.id}</td>
								<td>{$vo.us_name}</td>
								<td>{$vo.us_tel}</td>
								<td>{$vo.us_cash}</td>
								<td>{$vo.us_reg}</td>
							</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{include file="public/_footer"/}
</body>
</html>